[submodule "src/plugins/resume"]
	path = src/plugins/resume
	url = https://github.com/pimoens/pelican-resume-plugin.git
[submodule "src/themes/resume"]
	path = src/themes/resume
	url = https://github.com/pimoens/pelican-resume-theme
